<section class="contact-form-wrapper">
  <form class="contact-form">
    <h2 class="form-heading">Contact Form</h2>
    <div class="contact-input-and-label-wrapper name">
      <label class="contact-label" for="name">
        Name<span class="required-asterisk">*</span>
      </label>      
      <input class="contact-input name-input" id="name" type="text" required>
    </div>
    <div class="contact-input-and-label-wrapper phone">
      <label class="contact-label" for="phone">Phone</label>
      <input class="contact-input phone-input" id="phone" type="tel">
    </div>
    <div class="contact-input-and-label-wrapper email">
      <label class="contact-label" for="email">
        Email<span class="required-asterisk">*</span>
      </label>
      <input class="contact-input email-input" id="email" type="email" required>
    </div>
    <div class="contact-input-and-label-wrapper message">
      <label class="contact-label" for="message">
        Message<span class="required-asterisk">*</span>
      </label>
      <textarea class="contact-input message-input" id="message" maxlength="1000" rows="5" required></textarea>
      <small class="message-char-count-wrapper">
        <span class="message-char-count">1000</span> of 1000 characters remaining
      </small>
    </div>
    <button class="submit-contact-form-button" type="submit">Send Message</button>
  </form>
</section>