.contact-form-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.contact-form {
  border: 3px double #000;
  border-radius: 6px;
  box-shadow: -2px 4px 6px rgba(13, 10, 13, 0.2), 2px 4px 6px rgba(13, 10, 13, 0.2);
  padding: 40px;
  width: 500px;
}

.form-heading {
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

.contact-input-and-label-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-label,
.contact-input {
  border-radius: 6px;
  width: 100%;
}

.required-asterisk {
  color: #F00;
}

.contact-input {
  border: 1px solid #000;
  padding: 5px 7px; 
}

.message-input {
  resize: vertical;
}

.message-char-count-wrapper {
  font-size: 60%;
  text-align: right;
  margin-top: 3px;
  width: 100%;
}

.submit-contact-form-button {
  border: 2px solid #000;
  margin-top: 20px;
  width: 100%;
}

.submit-contact-form-button:hover {
  border: 2px solid #999;
  background-color: #000;
  color: #999;
}

.submit-contact-form-button:active {
  border: 2px solid #DDD;
  color: #DDD;
}

@media only screen and (max-width: 560px) {
  .contact-form {
    width: 100%;
  }
}