* {
  color: #000;
  font-family: "Reddit Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

main {
  padding: 80px 5% 0;
}

.main-header {
  align-items: center;
  background-color: #FFF;
  border-bottom: 2px solid #000;
  box-shadow: 0 4px 6px rgba(13, 10, 13, 0.2);
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 10px 5px 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.main-heading {
  font-size: 165%;
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-nav-link {
  margin: 0 20px;
}

.nav-link-image {
  width: 30px;
}

.menu-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.menu-bar {
  background-color: #000;
  border-radius: 6px;
  height: 3px;
  pointer-events: none;
  width: 30px;
}

.hamburger-menu-button {
  display: none;
  flex-direction: column;
}

.hamburger-menu-bar {
  margin: 3px 0;
}

.close-menu-button {
  position: relative;
}

.close-menu-bar {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-menu-bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.responsive-nav {
  background-color: #FFF;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
}

.responsive-nav-list {
  align-items: center;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 0 4px 6px rgba(13, 10, 13, 0.2), 0 4px 6px rgba(13, 10, 13, 0.2);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 5px 15px;
}

.responsive-nav-link {
  font-size: 120%;
  margin-bottom: 10px;
}

.loader-modal-wrapper,
.success-or-error-message-modal-wrapper {
  align-items: center;
  background-color: rgba(11, 8, 33, 0.9);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.success-or-error-message-modal,
.loader-modal {
  align-items: center;
  background-color: #000;
  border: 2px solid #666;
  justify-content: center;
  flex-direction: column;
  padding: 40px 80px;
  text-align: center;
}

.loader-modal-wrapper {
  background-color: #0B0821;
}

.modal-message {
  color: #FFF;
  display: block;
  font-size: 130%;
  margin: 20px;
}

.success-message {
  color: #0F0;
}

.error-message {
  color: #F00;
}

.success-or-error-message-modal-close-button {
  border: 1px solid #FFF;
  color: #FFF;
}

.main-footer {
  border-top: 2px solid #000;
  box-shadow: 0 -4px 6px rgba(13, 10, 13, 0.2);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.github-link {
  color: #6942CD;
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  .main-nav {
    display: none;
  }

  .menu-button {
    display: flex;
  }
}

.hidden {
  display: none;
}