.homepage-wrapper {
  padding-top: 15vh;
}

.homepage-summary {
  font-size: 145%;
  text-align: center;
}

.contact-us-link {
  color: #6942CD;
}

.contact-us-link:hover {
  text-decoration: underline;
}