.our-team-cards-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.our-team-heading {
  margin: 20px;
  text-align: center;
}

.team-member-card {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 80px;
  width: 30%;
}

.team-member-image {
  border: 3px solid #666;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 100%;
}

.team-member-description,
.team-member-name,
.team-member-title {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .team-member-card {
    width: 46%;
  }
}

@media only screen and (max-width: 600px) {
  .team-member-card-wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .team-member-card {
    width: 100%;
  }
}