.page-not-found-wrapper {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

.page-not-found-message-and-link-wrapper {
  align-items: center;
  border: 1px solid #000;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 30px;
  text-align: center;
}

.page-not-found-message {
  font-size: 300%;
  font-weight: 800;
}

.page-not-found-link-message {
  font-size: 220%;
  font-weight: 700;
}

.page-not-found-link {
  color: #666;
}

.page-not-found-link:hover {
  color: #000;
}

@media screen and (max-width: 650px) {
  .page-not-found-message {
    font-size: 200%;
  }
  
  .page-not-found-link-message {
    font-size: 120%;
  }
}

@media screen and (max-width: 465px) {
  .page-not-found-message {
    font-size: 120%;
  }
  
  .page-not-found-link-message {
    font-size: 100%;
  }
}