@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

* {
  font-family: "Reddit Mono", monospace;
}

body {
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

.main-header {
  align-items: center;
  border-bottom: 2px solid #666;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-left: 20px;
}

.main-heading {
  font-size: 155%;
}

.main-nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-nav-link {
  margin: 0 20px;
}

.nav-link-image {
  width: 30px;
}

.menu-button {
  background-color: #FFF;
  border: none;
  display: none;
  height: 40px;
  width: 40px;
}

.responsive-nav {
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
}

.responsive-nav-list {
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 20px;
}

.responsive-nav-link {
  margin-bottom: 10px;
}

@media only screen and (max-width: 860px) {
  .main-nav {
    display: none;
  }

  .menu-button {
    display: revert;
  }
}

.hidden {
  display: none;
}