.landing-page-wrapper {
  padding-top: 150px;
}

.landing-page-summary {
  text-align: center;
}

.contact-us-link {
  color: rgb(105, 66, 205);
}

.contact-us-link:hover {
  text-decoration: underline;
}