<nav class="main-nav">
  <a class="main-nav-link" href="/">
    Home
  </a>
  <!-- <a class="main-nav-link" href="/shop-all">
    Shop All
  </a> -->
  <a class="main-nav-link" href="/contact">
    Contact
  </a>
  <a class="main-nav-link" href="/about">
    About
  </a>
  <!-- <a class="main-nav-link" href="/favorites">
    Favorites
  </a>
  <a class="main-nav-link" href="/gallery">
    Gallery
  </a>
  <a class="main-nav-link" href="/search">
    <img class="nav-link-image" src="/assets/search_icon.png" alt="Search icon">
  </a>
  <a class="main-nav-link" href="/cart">
    <img class="nav-link-image" src="/assets/shopping_cart_icon.png" alt="Shopping cart icon">
  </a> -->
</nav>