<button class="hamburger-menu-button menu-button" aria-label="Open menu">
  <div class="hamburger-menu-bar menu-bar"></div>
  <div class="hamburger-menu-bar menu-bar"></div>
  <div class="hamburger-menu-bar menu-bar"></div>
</button>

<button class="close-menu-button menu-button hidden" aria-label="Close menu">
  <div class="close-menu-bar menu-bar"></div>
  <div class="close-menu-bar menu-bar"></div>
</button>

<nav class="responsive-nav hidden">
  <ul class="responsive-nav-list">
    <li class="responsive-nav-list-item">
      <a class="responsive-nav-link" href="/">
        Home
      </a>
    </li>
    <li class="responsive-nav-list-item">
      <a class="responsive-nav-link" href="/contact">
        Contact
      </a>
    </li>
    <!-- <li class="responsive-nav-list-item">
      <a class="responsive-nav-link" href="/about">
        About
      </a>
    </li> -->
    <li class="responsive-nav-list-item">
      <a class="responsive-nav-link" href="/our-team">
        Our Team
      </a>
    </li>
  </ul>
</nav>