<button class="hamburger-menu-button menu-button">
  <img class="hamburger-menu-icon" src="/assets/hamburger_menu_icon.png" alt="Hamburger menu icon">
</button>
<button class="close-menu-button menu-button hidden">
  <img class="close-icon" src="/assets/close_icon.png" alt="Close menu icon">
</button>
<nav class="responsive-nav hidden">
  <a class="responsive-nav-link" href="/">
    Home
  </a>
  <a class="responsive-nav-link" href="/shop-all">
    Shop All
  </a>
  <a class="responsive-nav-link" href="/contact">
    Contact
  </a>
  <a class="responsive-nav-link" href="/favorites">
    Favorites
  </a>
  <a class="responsive-nav-link" href="/search">
    Search
  </a>
  <a class="responsive-nav-link" href="/cart">
    Cart
  </a>
</nav>